extends ../layouts/default

block css
	link(href="/styles/blog.css", rel="stylesheet")

block intro
	.title-bar
		h1.text-center Add Notes
block content
	.container
		.notesadd
			form.contact-form(method="post").col-md-12
				input(type='hidden', name='action', value='notes.create')
				.form-group.col-md-12
				.form-group.col-md-12
						label.text-center Title *
						input.margin-center.title.form-control.input-box(type='text', name='title', value=formData.title, placeholder='Title' required)
				.form-group.col-md-12
						label.text-center Content
						.row
							.col-md-12
								textarea(type='text', name='briefcontent', value=formData.briefcontent, placeholder='Write the summary of your notes', rows=20)
							.col-md-12
								textarea(name='extendedcontent', value=formData.extendedcontent, placeholder='Write your full notes', rows=20)
				button(type='submit').btn.btn-success Add Notes
