extends ../layouts/default

block css
	link(href="/styles/home.css", rel="stylesheet")

block content
	.hero
		.hero-overlay
		.hero-content.text-center
			h1 Post about your lectures and studies online through our website and let your students see and know about it.
			hr
			h1 Notes It