extends ../layouts/default

block css
	link(href="/styles/home.css", rel="stylesheet")

block content
	.hero.img-fluid
		.hero-overlay
		.hero-content.text-center
			h1 Post about your notes online through our website and review them anytime.
			hr
			h1 Notes It