include ../mixins/flash-messages

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title= title || 'Notes-IT'
		link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
		link(href='//fonts.googleapis.com/css?family=Sofia' rel='stylesheet')
		link(href="/styles/normalize.css", rel="stylesheet")
		link(href="/styles/site.css", rel="stylesheet")
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
		block css
		block head

	body
		.wrap-all
			#header: .container.header-wrap
				div(role="navigation").navbar.navbar-default.navbar-fixed-top.no-border-bottom
					.container-fluid.header-inside
						.navbar-header.navbar-margin-bottom.no-margin
							button.navbar-toggle.margin-navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							a.navbar-brand.no-padding(href='/')
								img.header-logo(src='/images/Notes-It.png')
						.collapse.navbar-collapse
							ul.nav.navbar-nav.navbar-right.margin-navbar
								each link in navLinks
									li.navbar-center(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
								if user
									if user.canAccessKeystone
										li.navbar-center: a(href='/keystone') Dashboard
									li.navbar-center: a(href='/keystone/signout') Sign Out
								else
									li.navbar-center: a(href='/keystone/signin') Sign In
			#body
				block intro
				+flash-messages(messages)
				block content
			#footer
				.footer-content
					p Notes-IT Copyright 2017


		//- JAVASCRIPT

		//- jQuery 1.11.3 is included by default, and required by both Bootstrap
		//- and the KeystoneJS Content Editor. If you are not targeting IE8,
		//- you can upgrade to 2.1.4 (also bundled) for better performance.
		script(src='/js/jquery/jquery-1.11.3.min.js')

		//- Customise which Bootstrap javascript files are served by including
		//- them specifically here, instead of bootstrap-3.3.5.min.js
		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')

		//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
		//- which generate links to edit content for users who can access Keystone
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		//- Add scripts that are globally required by your site here.

		//- Include template-specific javascript files by extending the js block
		block js
		block page-js
			script.
				jQuery(function($) {
					var selectBody = $('#body');

					/* 2. */
					$('.navbar-collapse').on('show.bs.collapse', function () {
					  selectBody.css('padding-top', '500px');
					})
					$('.navbar-collapse').on('hide.bs.collapse', function () {
					  selectBody.css('padding-top', '200px');
					})
				});

