#body {
	padding: 0 !important;
}


hr {
	border-color: #FFE300;
    width: 12%;
    border-width: 2px;
    position: relative;
    z-index: 100;
    margin-top: 50px;
}

.margin-top-date {
	margin-top: -50px !important;
}