body {
    padding-top: 90px !important;
/*    background-image: url('http://wallpapercave.com/wp/wc1713782.jpg');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top; 
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	width: 50%;
    margin: auto;
    background-color: rgba(255,255,255,0.7) !important;
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: rgba(255,255,255,0.7);
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #00B2EE;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px !important;
	border: 1px solid #ddd !important;
	font-size: 16px !important;
	-webkit-transition: all 0.1s linear !important;
	-moz-transition: all 0.1s linear !important;
	transition: all 0.1s linear !important;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border-color: #ccc !important;
}
.btn-login {
	background-color: #59B2E0 !important;
	outline: none !important;
	color: #fff !important;
	font-size: 14px !important;
	height: auto !important;
	font-weight: normal !important;
	padding: 14px 0 !important;
	text-transform: uppercase !important;
	border-color: #59B2E6 !important;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff !important;
	background-color: #53A3CD !important;
	border-color: #53A3CD !important;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #00B2EE !important;
	outline: none !important;
	color: #fff !important;
	font-size: 14px !important;
	height: auto !important;
	font-weight: normal !important;
	padding: 14px 0 !important;
	text-transform: uppercase !important;
	border-color: #00B2EE!important;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff !important;
	background-color: #00B2EE !important;
	border-color: #00B2EE !important;
}

p.invalid {
    border: 2px solid red;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    background-color: #FC8C83;
}